<!doctype html>
<html ng-app="dsPopupApp" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <title>Download Star Popup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="popup.css">
  </head>

  <body ng-controller="PopupCtrl as vm">
    <form name="dsPopupForm">
      <!-- target controls -->
      <div class="form-row target-controls">
        <!-- download location -->
        <div class="form-group col">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    i18n="'downloadPathPrepend'"></span>
            </div>
            <input class="form-control download-location" type="text" name="downloadPath"
                   ng-model="vm.controls.downloadPath"></input>
            <div class="input-group-append">
              <!-- bgein download button -->
              <button class="btn btn-dark begin-download"
                      ng-click="vm.downloadMediaItems()"
                      ng-disabled="!vm.canProceedToDownload()"
                      i18n-title="'beginDownloadButtonTitle'">
                <i class="fa fa-download"></i>
                ({{vm.countCheckedMediaItems()}})
              </button>
            </div>
            <div class="input-group-append">
              <!-- toggle options button -->
              <button class="btn btn-outline-secondary toggle-options" type="button"
                      ng-class="{ 'active': vm.controls.showOptions }"
                      ng-click="vm.controls.showOptions = !vm.controls.showOptions"
                      i18n-title="'toggleOptionsButtonTitle'">
                <i class="fa fa-cog"></i>
              </button>
            </div>
          </div>
          <small class="text-danger"
                 ng-show="vm.isDownloadPathAbsolute()"
                 i18n="'errorDownloadPathMustBeRelative'"></small>
        </div>
      </div>

      <!-- options controls -->
      <div class="form-row options-controls"
           ng-show="vm.controls.showOptions">
        <!-- options tabs -->
        <div class="form-group col">
          <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
              <a class="nav-link" href=""
                 ng-class="{ 'active': vm.controls.tab === 'filters' }"
                 ng-click="vm.controls.tab = 'filters'">
                <i class="fa fa-filter"></i>
                <span i18n="'tabFilters'"></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""
                 ng-class="{ 'active': vm.controls.tab === 'naming' }"
                 ng-click="vm.controls.tab = 'naming'">
                <i class="fa fa-file-signature"></i>
                <span i18n="'tabNaming'"></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""
                 ng-class="{ 'active': vm.controls.tab === 'saving' }"
                 ng-click="vm.controls.tab = 'saving'">
                <i class="fa fa-save"></i>
                <span i18n="'tabSaving'"></span>
              </a>
            </li>
          </ul>
          <!-- filters tab -->
          <div class="tab-content filters-tab"
               ng-show="vm.controls.tab === 'filters'">
            <!-- built-in filters -->
            <div class="built-in-filters">
              <label i18n="'builtInFilters'"></label>
              <div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="useImageFilter"
                         ng-model="vm.filters.image"
                         ng-change="vm.evaluateFilters()"></input>
                  <label class="form-check-label" for="useImageFilter"
                        i18n="'imageFilter'"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="useVideoFilter"
                         ng-model="vm.filters.video"
                         ng-change="vm.evaluateFilters()"></input>
                  <label class="form-check-label" for="useVideoFilter"
                         i18n="'videoFilter'"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="useAudioFilter"
                         ng-model="vm.filters.audio"
                         ng-change="vm.evaluateFilters()"></input>
                  <label class="form-check-label" for="useAudioFilter"
                         i18n="'audioFilter'"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="useArchiveFilter"
                         ng-model="vm.filters.archive"
                         ng-change="vm.evaluateFilters()"></input>
                  <label class="form-check-label" for="useArchiveFilter"
                         i18n="'archiveFilter'"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="useDocumentFilter"
                         ng-model="vm.filters.document"
                         ng-change="vm.evaluateFilters()"></input>
                  <label class="form-check-label" for="useDocumentFilter"
                         i18n="'documentFilter'"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="useExeFilter"
                         ng-model="vm.filters.executable"
                         ng-change="vm.evaluateFilters()"></input>
                  <label class="form-check-label" for="useExeFilter"
                         i18n="'executableFilter'"></label>
                </div>
              </div>
            </div>

            <!-- fast filter -->
            <div class="fast-filter">
              <label i18n="'fastFilter'"></label>
              <div class="input-group input-group-sm">
                <input class="form-control form-control-sm" type="text" name="fastFilter"
                       ng-class="{ 'is-invalid': vm.fastFilterError }"
                       ng-model="vm.controls.fastFilter"
                       ng-model-options="{ debounce: 200 }"
                       ng-change="vm.evaluateFilters()"></input>
                <div class="input-group-append">
                  <!-- toggle regex button -->
                  <button class="btn btn-outline-secondary toggle-regex" type="button"
                          ng-class="{ 'active': vm.controls.fastFilterRegex }"
                          ng-click="vm.toggleFastFilterRegex()"
                          i18n-title="'fastFilterRegexTitle'">
                    (.*)
                  </button>
                  <!-- clear fast filter button -->
                  <button class="btn btn-outline-secondary clear-fast-filter" type="button"
                          ng-click="vm.clearFastFilter()"
                          i18n-title="'fastFilterClearTitle'">
                    <i class="fa fa-eraser"></i>
                  </button>
                </div>
              </div>
              <small class="text-danger"
                      ng-show="vm.fastFilterError"
                      i18n="'errorFastFilterNotRegex'"></small>
            </div>
          </div>
          <!-- mask naming tab -->
          <div class="tab-content mask-naming-tab"
               ng-show="vm.controls.tab === 'naming'">
            <!-- naming mask -->
            <div class="naming-mask">
              <label>
                <span i18n="'namingMask'"></span>
                (<a href="https://github.com/marklieberman/downloadstar/wiki/Naming-Mask-Expression-Guide" target="_blank"
                     i18n="'namingMaskGuide'"></a>)
              </label>
              <div class="input-group input-group-sm">
                <input class="form-control" type="text" name="namingMask"
                       ng-class="{ 'is-invalid': vm.namingMaskError }"
                       ng-model="vm.controls.namingMask"
                       ng-model-options="{ debounce: 200 }"
                       ng-change="vm.evaluateNamingMask()"></input>
                <div class="input-group-append">
                  <!-- show metadata button -->
                  <button class="btn btn-outline-secondary" type="button"
                          ng-class="{ 'active': vm.controls.showMetadata }"
                          ng-click="vm.controls.showMetadata = !vm.controls.showMetadata"
                          i18n-title="'showMetadataTitle'">
                    <i class="fa fa-info-circle"></i>
                  </button>
                  <!-- clear naming mask button -->
                  <button class="btn btn-outline-secondary" type="button"
                          ng-click="vm.clearNamingMask()"
                          i18n-title="'clearNamingMaskTitle'">
                    <i class="fa fa-eraser"></i>
                  </button>
                </div>
              </div>
              <small class="text-danger"
                      ng-show="vm.namingMaskError">
                {{vm.namingMaskError}}
              </small>
            </div>
          </div>
          <!-- saving tab -->
          <div class="tab-content saving-tab"
               ng-show="vm.controls.tab === 'saving'">
            <!-- conflict action -->
            <div>
              <label i18n="'onConflict'"></label>
              <select class="form-control form-control-sm"
                      ng-model="vm.controls.conflictAction">
                <option value="skip" selected
                        i18n="'conflictActionSkip'"></option>
                <option value="uniquify"
                        i18n="'conflictActionRename'"></option>
                <option value="overwrite"
                        i18n="'conflictActionOverwrite'"></option>
              </select>
            </div>

            <!-- clear history -->
            <div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="eraseHistory"
                      ng-model="vm.controls.eraseHistory"></input>
                <label class="form-check-label" for="eraseHistory"
                       i18n="'removeAfterDownload'"></label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- media table -->
      <div class="form-row media-list">
        <div class="form-group col">
          <!-- loader displayed while scraping -->
          <div class="scraping-loader"
               ng-if="vm.scraping">
            <i class="fa fa-pulse fa-4x fa-spinner"></i>
          </div>

          <!-- help text when table is empty -->
          <div class="empty-table-help"
               ng-if="!vm.scraping && !vm.visibleMedia.length">
            <!-- no media could be scraped -->
            <span ng-show="!vm.media.length"
                  i18n="'failedToFindMedia'"></span>

            <!-- all media is hidden -->
            <span ng-show="vm.media.length">
              <span i18n="'nothingToDisplay'"></span>
              <!-- no sources are enabled -->
              <a href=""
                 ng-hide="vm.isAnySourceEnabled()"
                 ng-click="
                   vm.controls.sources.embed = true;
                   vm.controls.sources.link = true
                 "
                 i18n="'tryEnableMediaSources'"></a>
              <!-- no items are checked and checked-only is enabled -->
              <a href=""
                 ng-show="vm.controls.checkedOnly && !vm.countCheckedMediaItems()"
                 ng-click="vm.controls.checkedOnly = false"
                 i18n="'tryDisableShowOnlyChecked'"></a>
              <!-- quick search is returning no results -->
              <a href=""
                 ng-show="vm.search"
                 ng-click="vm.search = ''"
                 i18n="'tryClearQuickSearch'"></a>
            </span>
          </div>

          <!-- media table -->
          <table class="table table-striped table-hover"
                 ng-hide="vm.scraping">
            <tbody>
              <tr ng-class="{
                    'media-checked':item.checked,
                    'last-clicked': item === vm.lastClickedItem
                  }"
                  ng-repeat="item in vm.visibleMedia = (vm.media | filter:vm.filterMediaSource | filter:vm.filterQuickSearch())"
                  ng-click="vm.toggleMediaItemChecked(item, $index, $event)"
                  title="{{::item.url}}">
                <!-- media item column -->
                <td class="media-item">
                  <!-- URL with filename highlighting -->
                  <url-with-filename media-item="item"></url-with-filename>
                  <!-- badges -->
                  <div class="badges">
                    <span class="badge badge-secondary">
                      {{::item.extension}}
                    </span><!--
                    --><span class="badge badge-success"
                         ng-repeat="match in item.matches">
                      {{match}}
                    </span><!--
                    --><span class="badge badge-info"
                             ng-if="!item.isFilenameInUrl && !item.maskName">
                      {{::item.getFilename()}}
                    </span><!--
                    --><span class="badge badge-dark"
                             ng-if="item.maskName">
                      {{item.maskName}}
                    </span>
                  </div>
                  <!-- collected metadata for media -->
                  <div class="metadata"
                        ng-if="vm.controls.showMetadata">
                    <div ng-show="item.width">
                      <span>${width}</span>: {{::item.width}}
                    </div>
                    <div ng-show="item.height">
                      <span>${height}</span>: {{::item.height}}
                    </div>
                    <div ng-show="item.alt">
                      <span>${alt}</span>: {{::item.alt | ellipsis:120}}
                    </div>
                    <div ng-show="item.title">
                      <span>${title}</span>: {{::item.title | ellipsis:120}}
                    </div>
                    <div ng-show="item.text">
                      <span>${text}</span>: {{::item.text | ellipsis:120}}
                    </div>
                  </div>
                </td>
                <!-- media thumbnail column -->
                <td class="media-thumb">
                  <img ng-if="item.isImage()"
                       ng-src="{{::item.url}}"
                       remove-on-error></img>
                  <video ng-if="item.isVideo()"
                         ng-src="{{::item.url}}"
                         remove-on-error></video>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- source controls -->
      <div class="form-row source-controls">
        <div class="form-group col">
          <!-- enabled sources -->
          <div class="btn-group source-select">
            <button class="btn btn-outline-secondary btn-sm source-link" type="button"
                    ng-class="{ 'active': vm.controls.sources.link }"
                    ng-click="vm.controls.sources.link = !vm.controls.sources.link"
                    i18n-title="'showMediaFromLinksTitle'">
              <i class="fa fa-link"></i>
            </button>
            <button class="btn btn-outline-secondary btn-sm source-embed" type="button"
                    ng-class="{ 'active': vm.controls.sources.embed }"
                    ng-click="vm.controls.sources.embed = !vm.controls.sources.embed"
                    i18n-title="'showMediaFromEmbedsTitle'">
              <i class="fa fa-image"></i>
            </button>
            <button class="btn btn-outline-secondary btn-sm source-text" type="button"
                    ng-class="{ 'active': vm.controls.sources.text }"
                    ng-click="vm.controls.sources.text = !vm.controls.sources.text"
                    i18n-title="'showMediaFromTextTitle'">
              <i class="fa fa-font"></i>
            </button>
          </div>
          <!-- show checked only -->
          <div class="btn-group source-select">
            <button class="btn btn-outline-secondary btn-sm checked-only" type="button"
                    ng-class="{ 'active': vm.controls.checkedOnly }"
                    ng-click="vm.controls.checkedOnly = !vm.controls.checkedOnly"
                    i18n-title="'onlyCheckedItemsTitle'">
              <i class="fa fa-clipboard-check"></i>
            </button>
          </div>
          <!-- quick search -->
          <div class="input-group input-group-sm quick-search">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-search"></i>
              </span>
            </div>
            <input class="form-control" type="text"
                   ng-model="vm.search"
                   ng-model-options="{ debounce: 200 }"
                   i18n-placeholder="'quickSearchPlaceholder'"></input>
          </div>
          <!-- scrape all tabs -->
          <div>
            <button class="btn btn-outline-secondary btn-sm scrape-all-tabs" type="button"
                    ng-click="vm.scrapeAllTabs(true)"
                    i18n-title="'scrapeAllTabsTitle'">
              <i class="fa fa-clone"></i>
            </button>
          </div>
        </div>
      </div>
    </form>

    <!-- library components -->
    <script src="../common/lib/angular.min.js"></script>
    <script src="../common/lib/moment.min.js"></script>
    <script src="../common/i18n.js"></script>
    <script src="popup.js"></script>

  </body>
</html>
