<!DOCTYPE html>
<html ng-app="dsPopupApp" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="lib/font-awesome.min.css">
    <link rel="stylesheet" href="popup.css">
  </head>

  <body ng-controller="PopupCtrl">

    <div id="loading" ng-show="scraping">
      {{error ? 'Not Available' : 'Loading'}}
    </div>

    <form name="dsPopupForm" ng-hide="scraping">

      <div id="controls">
        <!-- download location -->
        <div class="form-group">
          <label class="control-label">Download To</label>
          <div class="input-group">
            <input class="form-control input-sm" type="text" name="downloadPath" ng-model="controls.downloadPath"></input>
            <span class="input-group-btn">
                <button class="btn btn-primary btn-sm" ng-click="downloadFiles()" ng-disabled="!getMediaListChecked().length">Download ({{getMediaListChecked().length}})</button>
            </span>
          </div>
        </div>

        <!-- built-in filters -->
        <div class="columns">
          <div class="filters-col">
            <label class="control-label">Filters</label>
            <div class="form-group checkbox-col">
              <ul>
                <li class="checkbox">
                  <label>
                    <input type="checkbox" name="useImageFilter" ng-model="filters.useImageFilter"></input>
                    Images
                  </label>
                </li>
                <li class="checkbox">
                  <label>
                    <input type="checkbox" name="useVideoFilter" ng-model="filters.useVideoFilter"></input>
                    Video
                  </label>
                </li>
                <li class="checkbox">
                  <label>
                    <input type="checkbox" name="useAudioFilter" ng-model="filters.useAudioFilter"></input>
                    Audio
                  </label>
                </li>
              </ul>
              <ul>
                <li class="checkbox">
                  <label>
                    <input type="checkbox" name="useArchiveFilter" ng-model="filters.useArchiveFilter"></input>
                    Archives
                  </label>
                </li>
                <li class="checkbox">
                  <label>
                    <input type="checkbox" name="useExeFilter" ng-model="filters.useExeFilter"></input>
                    Executable
                  </label>
                </li>
                <li class="checkbox">
                  <label>
                    <input type="checkbox" name="useDocumentFilter" ng-model="filters.useDocumentFilter"></input>
                    Documents
                  </label>
                </li>
              </ul>
            </div>
          </div>

          <!-- fast filters -->
          <div class="fast-filter-col">
            <div class="form-group">
              <label class="control-label">Fast Filter</label>
              <input class="form-control input-sm" type="text" name="fastFilter" ng-model="filters.fastFilter"></input>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="fastFilterRegex" ng-model="filters.fastFilterRegex"></input>
                  Regex
                </label>
              </div>
            </div>
          </div>

          <!-- conflict action -->
          <div class="conflict-col">
            <div class="form-group">
              <label class="control-label">On Conflict</label>
              <select class="form-control input-sm" name="conflictAction" ng-model="controls.conflictAction">
                <option value="skip" selected>Skip</option>
                <option value="uniquify">Rename</option>
                <option value="overwrite">Overwrite</option>
                <!-- <option value="prompt">Prompt</option> -->
              </select>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="eraseHistory" ng-model="controls.eraseHistory"></input>
                  Clear history
                </label>
              </div>
            </div>

          </div>
        </div>

      </div><!-- /actions -->

      <div id="listView">
        <!-- source picker -->
        <div class="source-col">
          <button class="btn btn-default"
                  ng-class="{'active':controls.sourceList=='links'}"
                  ng-click="controls.sourceList='links'">
            <i class="fa fa-link"></i>
          </button>
          <button class="btn btn-default"
                  ng-class="{'active':controls.sourceList=='embeds'}"
                  ng-click="controls.sourceList='embeds'">
            <i class="fa fa-image"></i>
          </button>
        </div>


        <div class="media-col">
          <ul class="list-head">
            <li class="col url-col">URL</li>
            <li class="col type-col">Type</li>
            <li class="col mask-col">Mask</li>
          </ul>

          <ul class="list-body">
            <li ng-repeat="item in getMediaList()"
                ng-class="{'match':item.checked}"
                ng-click="item.checked = !item.checked" title="{{::item.url}}">
              <div class="col url-col">
                <input type="checkbox" ng-checked="item.checked"></input>
                {{::item.url}}
              </div>
              <div class="col type-col" title="{{::item.type}}">
                {{::item.type}}
              </div>
              <div class="col match-col" title="{{item.matches}}">
                {{item.matches}}
              </div>
            </li>
          </ul>
        </div>
      </div>

    </form>

    <!-- Library components -->
    <script src="lib/angular.min.js"></script>
    <script src="popup.js"></script>

  </body>

</html>
