$form-group-margin-bottom: 10px;

@import "lib/bootstrap-custom";

$min-width: 800px;
$min-height: 600px;
$panel-bg: #eee;

html,
body,
form {
  width: $min-width;
  min-width: $min-width;
  height: $min-height;
  min-height: $min-height;
  overflow: hidden;
}

body {
  background: linear-gradient(180deg, #fff 10px, #eee 50px, #eee 100%);
}

form {
  display: flex;
  flex-flow: column nowrap;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls {
  flex: 0 1 auto;
  padding: 10px 10px 0 10px;

  .columns {
    display: flex;
    flex-flow: row nowrap;
  }

  .filters-col {
    flex: 0 1 auto;

    .checkbox-col {
      display: flex;
      flex-flow: row nowrap;
    }

    .checkbox {
      margin: 0 10px 0 0;
    }
  }

  .fast-filter-col {
    flex: 1 1 auto;
    margin-right: 10px;

    .checkbox {
      margin-top: 5px;
      float: right;
    }
  }

  .conflict-col {
    flex: 0 1 auto;

    .checkbox {
      margin-top: 5px;
    }
  }
}

#listView {
  $header-size: 20px;

  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  padding: 0 10px 10px 10px;

  .source-col {
    display: flex;
    flex-flow: column nowrap;
    padding: $header-size 5px 0 0;

    button {
      margin-bottom: 5px;
    }
  }

  .media-col {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;

    ul {
      flex: 0 1 auto;
      display: flex;

      &.list-head {
        flex: 0 1 auto;
        display: flex;
        flex-flow: row nowrap;
        margin-right: 18px;
        font-weight: bold;
      }

      &.list-body {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        overflow-y: scroll;
        background: #fff;
        border: 1px solid $input-border;
        border-radius: $border-radius-base;

        li {
          flex: 0 1 auto;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          border-bottom: 1px solid $input-border;
          padding: 2px 0;
          cursor: pointer;
        }

        .checkbox {
          margin: 0;
        }

        .match {
          background-color: lighten($brand-success, 33%);
        }
      }

      .col {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 5px;
      }

      .url-col {
        width: 80%;
        max-width: 80%;
      }

      .type-col {
        width: 10%;
        max-width: 10%;
      }

      .mask-col {
        width: 10%;
        max-width: 10%;
      }
    }
  }
}
