<!doctype html>
<html ng-app="dsPopupApp" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <title>Download Star Options</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="options.css">
  </head>

  <body ng-controller="OptionsCtrl as vm">
    <div class="container">
      <h1>Download Star Options</h1>

      <form id="options-form">
        <!-- max concurrent downloads -->
        <div class="form-group">
          <label>Maximum Concurrent Downloads</label>
          <input class="form-control" type="number"
                 ng-model="vm.settings.maxConcurrentDownloads"
                 min="1" step="1" max="10" value="10"></input>
          <small class="form-text text-muted">
            The maximum number of concurrent downloads.
          </small>
        </div>

        <!-- keep download history -->
        <div class="form-group">
          <label>Keep Download History</label>
          <select class="form-control"
                  ng-model="vm.settings.keepHistory">
            <option value="always">Always</option>
            <option value="never">Never</option>
          </select>
          <small class="form-text text-muted">
            If you move files after download but still want to be able use "on conflict: skip", the addon can remember
            previous downloads and filenames. If you disable history, downloads can only be skipped if they already
            exist in the download folder.
          </small>
        </div>

        <!-- keep download history -->
        <div class="form-group">
          <label>Maximum History Entries</label>
          <input class="form-control" type="number"
                 ng-model="vm.settings.maxHistory"
                 ng-disabled="vm.settings.keepHistory === 'never'"
                 min="1" step="1" max="10000" value="1000"></input>
          <small class="form-text text-muted">
            The maximum number of downloads to remember indefinitely.
          </small>
        </div>
      </form>
    </div>

    <!-- Library components -->
    <script src="../common/lib/angular.min.js"></script>
    <script src="options.js"></script>

  </body>
</html>
